export(preGramm)
export(naiveGramm)
export(nlfitGramm)
export(Gramm)
importFrom("grDevices", "dev.off", "pdf")
importFrom("graphics",  "legend")
importFrom("stats", "nls", "lm","sd","pf","residuals","var","coef","cor.test")
importFrom(psych,geometric.mean)
importFrom(minerva,mine)
importFrom(basicTrendline,trendline_summary,trendline)
importFrom(investr,plotFit)
importFrom(SummarizedExperiment)
importFrom(DelayedArray)
